@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

:root {
  --color1: #F0F5F9;
  --color2: #000000;
  --color3: #C9D6DF;
  --color4: #1E2022;
  --color5: #ff0000;
}

* {
  font-family: sans-serif;
}

html {
  height: 600px;
  width: 357px;
}

body {
  width: 357px;
  height: 600px;
  /* padding: 10px; */
  display: flex;
  align-items: center;
  justify-content: center;
  background: transparent !important;
  padding: 0 !important;
  margin: 0 !important;
}

.chatPannel {
  display: flex;
  flex-direction: column;
  width: 357px;
  height: 600px;
  background: var(--color1);
  opacity: 1;
  transform-origin: bottom right;
  box-shadow: 0 0 128px 0 rgba(0, 0, 0, 0.1),
    0 32px 64px -48px rgba(0, 0, 0, 0.5);
}


.chatpanelHeader {
  width: 357px;
  position: fixed;
  text-align: center;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  height: 60px;
  display: flex;
  align-items: center;
  gap: 3px;
  padding-left: 15px;
}

.profileImageBox {
  height: 40px;
  width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.profileNameBoxName{
  padding-top: 4px;
  font-size: 15px;
  font-weight: bold;
}
.profileNameBoxStatus{
  font-size: 10px;
  color: #686868;
}

.profileNameBox {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.profileImageBoxValue {
  width: 85%;
  height: 85%;
}


.chatbox {
  height: 470px;
  overflow-y: auto;
  margin-top: 60px;
}

.chatPannel :where(.chatbox, textarea)::-webkit-scrollbar {
  width: 6px;
}

.chatPannel :where(.chatbox, textarea)::-webkit-scrollbar-track {
  background: #fff;
  border-radius: 25px;
}

.chatPannel :where(.chatbox, textarea)::-webkit-scrollbar-thumb {
  background: #ccc;
  border-radius: 25px;
}

.chatbox .chat {
  display: flex;
  list-style: none;

}

.chatbox .outgoing {
  justify-content: flex-end;
}
.incoming{
}

.chatbox .incoming span {
  width: 32px;
  height: 32px;
  color: var(--color5);
  cursor: default;
  text-align: center;
  line-height: 32px;
  align-self: flex-end;
  background: transparent;
  border-radius: 4px;
}

.chatbox .chat p {
  white-space: pre-wrap;
  padding: 10px;
  border-radius: 5px 5px 0 5px;
  max-width: 75%;
  color: #fff;
  font-size: 0.95rem;
  background: var(--color2);
  height: fit-content;
}

.chatbox .incoming p {
  border-radius: 10px 10px 10px 0;
  margin-left: 2px;
}

.chatbox .chat p.error {
  color: #721c24;
  background: #f8d7da;
}

.chatbox .incoming p {
  color: #000;
  background: var(--color3);
}

.chatPannel .chat-input {
  display: flex;
  gap: 5px;
  position: absolute;
  bottom: 0;
  width: 357px;
  background: #fff;
  border-top: 2px double var(--color4);
  background-color: var(--color1);

}

.chat-input textarea {
  max-height: 40px;
  width: 357px;
  border: none;
  outline: none;
  resize: none;
  padding-top: 3vh;
  padding-left: 3vh;
  font-size: 0.95rem;
  background-color: var(--color1);
}

.chat-input span {
  align-self: flex-end;
  color: var(--color4);
  cursor: pointer;
  padding-right: 3vh;
  height: 55px;
  display: flex;
  align-items: center;
  visibility: hidden;
  font-size: 1.35rem;
  background-color: var(--color1);
}

.chat-input textarea:valid~span {
  visibility: visible;
}

.incoming {
  margin-left: 10px;
}

.outgoing {
  margin-right: 10px;
}

.incommingAnswer {
  margin-left: 5px;
  /* background-color: rgb(254, 0, 0); */
}